*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(background.jpg);
}

.header_alus{
    height: fit-content;
    width: 100%;
    display: flex;
    background-color: rgba(44, 44, 44, 0.8);
    flex-direction: column;
    align-items: center;
    
}

.header_nimi{
    color: white;
    display: flex;
}

.header_nimi h1{
    font-size: 36px;
}

.header_nimi h2{
    font-size: 24px;
}

.header2_alus{
    height: fit-content;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    background-color: rgba(44, 44, 44, 0.8);
}

.header2_alus a{
    text-decoration: none;
    color: white;
}

.sisu_alus{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 100px;
}

.sisu_pealkiri{
    color: rgb(190, 190, 190);
}

.sisu_tekst{
    color: rgb(190, 190, 190);
    margin-top: 20px;
}

.footer_alus{
    display: flex;
    height: fit-content;
    width: 100%;
    background-color: rgba(44, 44, 44, 0.8);
    color: white;
    font-size: 12px;
    justify-content: center;
    position: fixed;
    bottom: 0;
    
}

.footer_git{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer_git2{
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}
